.firstline{
    display: flex;
    margin-top: 0;

   justify-content: space-between;
   align-items: baseline;
  
}
ul{
    list-style-type: none;
    display: flex;
    gap: 1.5em;
    font-size: 18px;
}
a{

    text-decoration: none;
    color:  #fdfdfd;
    font-size: 16px;
    font-family: 'Arvo', serif;
    
   
   }
   .links{
       display: flex;
   }
   .logo{
    font-family: 'Dancing Script', cursive;
    color: #f0e3e3;
    font-size: 24px;
    display: flex;
}
.header{
   background-color: #00205b;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
body{
    display:flex;
    flex-direction: column;
    background-color:#CFB284;
    
    margin: 0;
}
ul.links{
    padding-right: 1cm;
    
}
div.logo{
    padding-left: 1cm;
    background-color: inherit;
}
input{
    align-items: center;
    width: 40%;
    height: 1cm;
  
   
}  
.mid{
    margin-left: 1.5cm;
    margin-right: 1.5cm;
    background-color: #FFEFCB;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
}        
.carte{
   
    
    height: 10cm;
    width: 4.7cm;
    margin: 0.5cm;
    border:0.2cm;
    border-style: solid;
    border-color: black;
    border-width: 0.01cm;
    padding: 0.1cm;
    background-color: #CFB284;
  
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    
 
}
.imagine{
    height: 7cm;
    width: auto;
}


.container {
    color: #00205b;
	text-align: center;
	font-size: 20pt;
	font-family: 'arial';

}

.pret{
    height: 1cm;
   margin-top: 0.5cm;
    color: #FFEFCB;
}


